 /*General Styles*/

body {

    background-color: rgb(255, 246, 247);

}

.headPhoto {
    
    display:block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 300px;
    background-color: rgb(255, 246, 247);
  
}

 header {

    background-color: rgb(255, 246, 247);

 }

 /*Home Page*/

 .About {

    background-color: rgb(255, 246, 247);
    text-align: center;

 }

 #aboutMe {

     font-size: 3.3em;

 }

 .myPara {

     padding: 0 100px 0 100px;
     font-size: 1.3em;

 }

 .mail {

     max-width: 30px;
     max-height: 30px;

 }

 /*Art Page*/

 .card {

     margin-left: auto;
     margin-right: auto;
     width: 75%;

 }

 .card-text {

     color:rgb(94, 94, 94);
     
 }
 
 .cardIMG {

    display:block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 400px;
    border-radius: 10px;
    border-style: inset;

 }

 .card-group {

     margin: 0 20px 20px 20px;
    
 }

 /*Project Page*/


 .hhPic{
     height:100%;
     width: 100%;
     border-style: double;
     border-radius: 8px;
    padding: 2px;
 }

 .projectHead {

     margin-left: 50px ;
     margin-bottom: 50px;

 }

.hsj{

    height:100%;
    width: 100%;
    border-style: double;
    border-radius: 8px;
    padding: 2px;
    
}

.projIMG {

    text-align: center; 
    
}

.ProjectDescrip {

    padding: 20px 0 0 50px;

}

.myPara2 {

    padding-right: 10px;
    font-size: 1.3em;

}

.listed {
    font-size: 1.1em;
    padding-right: 100px;
    line-height: 30px;
}

/*Skills Page*/

.SkillDesc {
    padding: 20px 0 0 50px;
}

.skilled{
    line-height: 30px;
    font-size: 1.2em;
}
